<div id="gitalk-container"></div>
<link rel="stylesheet" href="/css/gitalk.css">
<!-- link rel="stylesheet" href="{{ " /css/gitalk.css" | prepend: site.baseurl }}" -->
<!-- script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script -->

<script src="/js/gitalk.min.js"></script>
<script src="/js/md5.min.js"></script>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '{{ site.data.gitalk.client_id }}',
        clientSecret: '{{ site.data.gitalk.client_secret }}',
        repo: '{{ site.data.gitalk.repo }}',
        owner: '{{ site.data.gitalk.owner }}',
        admin: ['{{ site.data.gitalk.admin }}'],
	    <!-- id: md5(location.href.match('/(?<=posts/)(.*)(?=/)/')[1]), -->
        id: md5(location.pathname),
        language: 'en',
        perPage: 10,
    });
    (function() {
    if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
      document.getElementById('gitalk-container').innerHTML = 'Gitalk comments not available by default when the website is previewed locally.';
      return;
    }
    gitalk.render('gitalk-container');
  })();
</script>
