<div id="gitalk-container"></div>
<!-- link rel="stylesheet" href="/css/gitalk.css" -->
<link rel="stylesheet" href="{{ " /css/gitalk.css" | prepend: site.baseurl }}">
<script src="/js/gitalk.min.js"></script>
<script src="/js/md5.min.js"></script>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '{{ data.gitalk.client_id }}',
        clientSecret: '{{ data.gitalk.client_secret }}',
        repo: '{{ data.gitalk.repo }}',
        owner: '{{ data.gitalk.owner }}',
        admin: ['{{ data.gitalk.admin }}'],
        id: md5(location.href.match('/(?<=posts/)(.*)(?=/)/')[1]),
        language: 'en',
        perPage: 10,
    });
    gitalk.render('gitalk-container');
</script>
    

